body {
    margin: 0;
}

.carousel-inner {
    height: 500px;
}

.carousel {
    height: 500px;
}

.w-100 {
    height: 500px;
    object-fit: cover;
}

.card-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    text-align: center;
    font-size: 50px;
    background: #4d8add;
    color: white;
}