body {
    margin: 0;
    outline: 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 15px;

    background: linear-gradient(to right, #80008080, #0000ffCC), url('background.jpg');
    background-size: cover;
}

.bungkus {

}

.konten {
    width: 1000px;
    margin: 10% auto 0;
}

.kiri {
    width: 600px;
    float: left;
}

.kanan {
    width: 400px;
    float: right;
    position: relative;
}

.kanan form {
    text-align: center;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 15px #555;
    margin-top: -60px;
}

.kanan form .atas {
    background: #FFF;
    /* padding: 20px 0; */
}

.kanan form .tengah {
    background: #E7EEF8;
    padding: 20px 30px;
}

.kanan form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;

    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 40px;
    border: solid 2px transparent;
    border-radius: 4px;
    font-family: inherit;
    outline: 0;
    transition: all 0.2s linear;
}

.kanan form input:focus {
    border: solid 2px #1d8eda;
}

.button {
    /* margin: 50px;
    margin: 50px 0;
    margin: 110px 0 20px;
    margin: 110px 0 20px 20px;

    padding: 100px !important; */
    margin-top: 20px;
    background: #1d8eda;
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s linear;
    padding: 0 !important;
}

.button:hover {
    background: #1a7bbd
}

.button + p {
    margin: 20px 0 10px !important;
}

.kanan a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.kanan a:hover {
    color: #000;
}

.kanan .tengah h3 {
    margin: 5px 0 10px;
    color: #333;
    font-weight: normal;
    font-size: 20px;
}

.kanan .tengah p {
    margin: 0 0 20px;
    color: #555;
}

.kanan img {
    height: 60px;
    margin: 10px 0;
}

.kanan span {
    color: #1a7bbd;
}

.kanan i {
    position: absolute;
    left: 44px;
    margin-top: 10px;
    font-size: 20px;
    color: #999;
}

/* Style untuk layout kiri */

.kiri h1 {
    /* margin: 50px; membuat element ada jaraknya (keluar) */
    /* padding: 20px; membuat element ada jaraknya (kedalam) */
    color: #FFF;
    font-weight: 300;
    font-size: 2.5em;
    margin: 0;
}

.kiri p {
    color: #d4d4d4;
    font-weight: 300;
    font-size: 1.5em;
}

.kiri a {
    display: inline-block;
    background: linear-gradient(to bottom, #44e235, #3ecc31);
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    text-decoration: none;
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0 10px 30px #55555580;
    margin-top: 20px;
}

.kiri a:hover {
    background: linear-gradient(to bottom, #3ecc31, #39bd2d);
}


/*  Media query  */
@media (max-width: 500px) {
    .konten {
        width: 100%;
        margin: 0;
    }

    .kiri,
    .kanan {
        width: 100%;
        float: unset;
        text-align: center;
    }

    .kiri {
        margin-top: 40px;
    }

    .kiri h1 {
        font-size: 2em;
    }

    .kiri p {
        font-size: 1.3em;
    }

    .kanan form {
        margin: 40px 0;
        border-radius: 0;
    }
}
