body {
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
}

i.fa,
i.fab {
    color: #EA4F4A;
}

.wrap {
    width: 100%;
    margin: 0;
}

/* RIGHT */
.wrap-content {
    width: 75%;
    height: 100vh;
    float: right;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    overflow: auto;
}

.wrap-content img {
    width: 25%;
    height: 250px;
    object-fit: cover;
    padding: 1px;
    box-sizing: border-box;
}

.wrap-content img:nth-child(6) {
    width: 50%;
}

/* LEFT */
aside {
    background-color: #f6f6f6;
    padding: 40px;
    height: 100vh;
    width: 25%;
    float: left;
    position: fixed;
    box-sizing: border-box;
    overflow: auto;
    background: linear-gradient(#FEFDFD 20%, #E9E7B180 180%);
}

aside hr {
    margin: 30px 50% 20px 0;
    height: 1px;
    border: 0;
    background: #CCC;
}

aside .bio h1 {
    font-size: 2em;
    font-weight: 300;
    color: #111;
    margin: 0;
}

aside .bio h3 {
    font-size: 1em;
    margin: 5px 0;
    color: #555;
    font-weight: 300;
    letter-spacing: 1px;
}

aside .bio p {
    margin: 20px 0;
    color: #444;
    font-weight: normal;
}

aside .menu a,
aside .menu a:link,
aside .menu a:visited {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.20em;
    letter-spacing: 1px;
    margin-bottom: 0;
    display: block;
    margin-bottom: 10px;
}

aside .menu a.active,
aside .menu a:hover {
    color: #EA4F4A;
    border-bottom: solid 2px #EA4F4A;
    display: inline-block;
    font-weight: normal;
}

aside .menu a:hover {
    display: block;
    border: 0;
}

aside .account p {
    color: #333;
    font-size: 0.95em;
}

aside .account i {
    margin-right:5px;
}

aside .social a,
aside .social a:link,
aside .social a:visited {
    display: block;
    text-decoration: none;
    color: #333;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

aside .social i {
    margin-right:5px;
}

/* Footer */
footer {
    font-size: 0.70em;
    color: #AAA;
    letter-spacing: 1px;
}
