body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
}

a,
a:link,
a:visited {
    color: #333;
    text-decoration: none;
}

#wrap:before {
    z-index: -2;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70vh;
    background-color: #2f85db;
}

#wrap:after {
    z-index: -1;
    content: "";
    position: fixed;
    width: 100%;
    height: 30vh;
    left: 0;
    bottom: 0;
    background-color: #a7abaf;
}

#wrap {
    position: relative;
    margin: 15vh auto;
    width: 1100px;
    min-height: 500px;
    height: auto;
    background: #FFF;
    box-shadow: 0 0 30px #00000020;
}

/* Styling Top */
header {
    background: #f1f1f1;
    height: 35em;
    overflow: hidden;
    position: relative;
}

.wrap-menu {
    padding-top: 30px;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.banner {
    margin-top: 5em;
}

.banner img {
    position: absolute;
    bottom: 0;
    left: 4em;
    height: 420px;
}

.banner h4 {
    font-size: 1.20em;
    font-weight: 400;
    letter-spacing: 1px;
}

.banner h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.4;
    margin: 20px 0;
}

.banner .btn {
    border-radius: 20px;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

/* Section first */
.first {
    padding: 80px 0;
    text-align: center;
}

.first h3 {
    display: block;
    width: 100%;
    text-align: center;
}

.first h4 {
    margin: 20px 0;
    font-size: 1.1em;
    font-weight: 500;
    position: relative;
}

.first h4:after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 50%;
    right: 50%;
    width: 50px;
    height: 3px;
    background: var(--info);
    transform: translate(-50%);
}

.first p {
    font-size: 15px;
    width: 75%;
    margin: 0 auto;
}

.first i {
    color: var(--info);
    margin-top: 20px;
}

/* Media Query */
@media (max-width: 576px) {
}

@media (max-width: 768px) {
    #wrap {
        margin: 5vh auto;
    }

    .wrap-menu > .col-md-4 {
        margin-bottom: 10px;
        font-size: 1.7em;
    }

    .banner > img + div {
        text-align: right;
    }

    .banner img {
        filter: brightness(0.9);
    }

    .banner h1 {
        font-size: 1.5em;
    }

    .banner p {
        padding-left: 40%;
        text-shadow: 0 0 20px #000000AA;
    }

    .first > div {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {
    #wrap {
        width: 90%;
    }
}
