body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.banner {
    background-image: url('https://www.jvista.net/wp-content/uploads/2014/11/macs.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    height: 30em;
}
