body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#left {
    background: #AAC4EE url('../img/work_schedul.png') no-repeat center;
    background-size: contain;
    position: relative;
    float: left;
    width: 35%;
    min-height: 100vh;
}

#right {
    background: #D7E2F7;
    float: right;
    width: 65%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

#right h1 {
    font-weight: normal;
    margin: 0 0 10px;
}

#right h1 span {
    color: #828AB5;
    font-weight: 600;
}

#right h2 {
    font-weight: normal;
    font-size: 20px;
    color: #666;
    line-height: 1.5;
    margin: 0 0 30px;
    text-align: justify;
}

#right form {
    margin:10% auto 0;
    width: 80%;
}

#right form label {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}


#right form input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 7px 10px 7px 30px;
    box-sizing: border-box;
    border: solid 2px #838AB6;
    margin-bottom: 10px;
    outline: 0;
    transition: all .3s linear;
}

#right form input:focus {
    border-color: #62354E;
}

#right form button {
    font-family: 'Roboto', sans-serif;
    padding: 8px 25px;
    font-size: 15px;
    border: 0;
    background: #838AB6;
    color: #FFF;
    margin-top: 10px;
    margin-right: 2px;
    cursor: pointer;
    outline: 0;
    transition: all .3s linear;
}

#right form button:hover {
    background: #63354E;
}

#right form .icon-input {
    position: absolute;
    margin-left: -45px;
    margin-top: 33px;
    color: #838AB6;
}

#right form input:focus > .icon-input {
    color: #62354E;
}

#right form button span {
    font-size: 12px;
    margin-right: 5px;
}

.toggle-pass {
    float: right;
    margin-right: 10px;
    margin-top: -39px;
    color: #FFF;
    background: #838AB6;
    padding: 3px 4px 4px;
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width: 660px) {
    #left {
        display: none;
    }
    #right {
        width: 100%;
    }
}