<style>
    img:hover {
        transform: scale(1.2);
        /* untuk mengubah ukuran skala */
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: right;
        color: red;
    }

    a {
        color: white;
        background: red;
        text-decoration: none;
        border-radius: 25px;
        padding: 10px 35px;
        display: inline-block;
        margin-bottom: 5px;
    }

    a.fb {
        background: #4267B2
    }

</style>


Lorem ipsum dolor amet sit

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<hr>

<!--
    hr = buat garis horiontal
    br = enter/new line
-->

<!--
    CSS : Cascading Style Sheet

    selector (img, a, h1 ...)
    property (align, background, color ...)
    value (right, red ...)
-->

<!--
    Pertemuan Selanjutnya :
    FORM
    TABLE
    UL > LI
-->

Teks biasa

<p>Teks Paragraf</p>

<b>Teks tebal</b>
<br>
<i>Teks miring</i>
<br>
<u>Teks garis bawah</u>
<br>
<s>Teks coret</s>
<br>

<b>Lorem ipsum <i><u>dolor</u> amet</i> sit</b>

<hr>

<a href="http://google.co.id" target="_blank">Google</a>
<br>
<a class="fb" href="http://facebook.co.id">Facebook</a>
<br>
<img src="icon-clock.svg" width="100px" height="150px">
<br>

<img src="https://secure.i.telegraph.co.uk/multimedia/archive/03577/potd-frog_3577394k.jpg" height="300px">

<hr>

<!-- FORM HTML 26/07 -->
<form action="#">
    <label>Nama Lengkap</label>
    <input type="text" name="nama" placeholder="Masukkan nama lengkap anda">
    <br>

    <label>Jenis Kelamin</label>
    <label> <input type="radio" name="jenis"> Laki-laki</label>
    <label> <input type="radio" name="jenis"> Perempuan</label>
    <br>

    <label>Email</label>
    <input type="email">
    <br>

    <label>Tanggal Lahir</label>
    <input type="date">
    <br>

    <label>Foto</label>
    <input type="file" accept="image/x-png">
    <br>

    <label>Nomor Sepatu</label>
    <input type="number" min="5" max="10">
    <br>

    <label>Warna</label>
    <input type="color">
    <br>

    <label>Hobi</label>
    <label> <input type="checkbox"> Gaming</label>
    <label> <input type="checkbox"> Baca Buku</label>
    <label> <input type="checkbox"> Olahraga</label>
    <br>

    <label>Kelas Kursus</label>
    <select>
        <option>Web Programming</option>
        <option>Desain Grafik</option>
        <option>Arsitektur</option>
        <option>Internet Marketing</option>
    </select>
    <br>

    <label>Alamat</label>
    <textarea cols="50" rows="5"></textarea>
    <br>

    <input type="submit" value="Kirim">
    <input type="reset" value="Bersihkan">
    <input type="button" value="Batal">
</form>

<hr>

<table border="1" width="50%">
    <tr>
        <th>No Induk</th>
        <th>Nama</th>
        <th>Jenis Kelamin</th>
    </tr>
    <tr>
        <td>1122</td>
        <td>Ahmad Zaki</td>
        <td>Laki-laki</td>
    </tr>
    <tr>
        <td>1123</td>
        <td>Diana Zaki</td>
        <td>Perempuan</td>
    </tr>
</table>

<br>

<table border="1" width="50%" cellpadding="3" cellspacing="0">
    <tr>
        <th rowspan="2"> NIS </th>
        <th rowspan="2"> NAMA </th>
        <th colspan="3"> NILAI </th>
        <th rowspan="2"> KETERANGAN </th>
    </tr>
    <tr>
        <th> UTS </th>
        <th> UAS </th>
        <th> UN </th>
    </tr>

    <tr>
        <td> 1122 </td>
        <td> Andi </td>
        <td> 80 </td>
        <td> 85 </td>
        <td> 90 </td>
        <td> Lulus </td>
    </tr>
    <tr>
        <td> 1122 </td>
        <td> Andi </td>
        <td> 80 </td>
        <td> 85 </td>
        <td> 90 </td>
        <td> Lulus </td>
    </tr>
</table>

<ul>Paket Kursus
    <li>Web Master</li>
    <li>Arsitektur</li>
    <li>Marketing</li>
    <li>Android</li>
</ul>

<ol>Paket Kursus
    <li>Web Master</li>
    <li>Arsitektur</li>
    <li>Marketing</li>
    <li>Android</li>
</ol>
