<!--
    CSS ada 3
    Inline = ada di atribut
    Internal = ada dalam 1 file halaman, disitu saja
    External = file terpisah, dengan *namafile*.css
               bisa dipanggil disemua halaman, selama halaman itu membutuhkan

    di HTML bernama Element
    di CSS bernama Selector, tapi tanpa tag

 -->

<style>
    label {
        /* selector */
        display: block;
        font-size: 15px;
        /* display dll = property */
        /* block dll = value */
        /* untuk membuat lebar full (block) */
    }

    input {
        margin-bottom: 10px;
        border: solid 1px #EEE;
        padding: 6px 20px;
        border-radius: 5px;
    }

    select {
        padding: 5px 8px;
        border: solid 1px darkmagenta;
        border-radius: 20px;
        margin-bottom: 20px
    }

    h3 {
        border: solid 1px;

        margin-top: 60px;
        margin-left: 100px;
        margin-right: 20px;
        margin: 20px;

        padding-left: 50px;
        padding-top: 20px;

        padding: 20px;
        /* satu nilai (value) : semua sisi */
        padding: 20px 100px;
        /* dua nilai (value) : nilai pertama, atas bawah */
        padding: 20px 100px 50px;
        /* tiga nilai (value) : searah jarum jam, yang kiri mengikuti nilai yang kanan */
        padding: 50px 150px 10px 20px;
        /* tempat nilai (value) : searah jarum jam */
    }
    /*
        Class = .
        Id    = #

        Pseudo [], :, ::
        - Element
        - Class
     */
    .ukuran {
        border-color: red;
    }
    #sandi {
        font-size: 40px;
    }
    input[type=number] {
        border-color: red;
    }
    input[type=submit],
    input[type=button],
    input[type=reset] {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-family: sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        border: 0;
        border-bottom: solid 3px #000;
        outline: 0;
    }
    input[type=submit] {
        background: #26c326;
        border-bottom-color: #1dac1d;
    }
    input[type=submit]:hover {
        background: #24b324;
        border-bottom-color: #1ba31b;
    }

    input[type=button] {
        background: #2662c3;
        border-bottom-color: #1e55ad;
    }
    input[type=button]:hover {
        background: #235bb4;
        border-bottom-color: #1b4d9e;
    }

    input[type=reset] {
        background: #c32626;
        border-bottom-color: #991a1a;
    }

    input[type=reset]:hover {
        background: #b62323;
        border-bottom-color: #8f1919;
    }

    input[type=submit]:active,
    input[type=button]:active,
    input[type=reset]:active {
        position: relative;
        top: 1.2px;
        height: 37px;
        line-height: 37px;
        border-bottom-color: transparent;
    }
</style>

<form action="">
    <label for="">Nama Lengkap</label>
    <input type="text" placeholder="Masukkan Nama Lengkap">

    <label for="">Tanggal Lahir</label>
    <input type="date">

    <label for="">Email</label>
    <input type="email" value="Masukkan email anda">

    <label for="">Kata Sandi</label>
    <input type="password" id="sandi">

    <label for="">Warna</label>
    <input type="color">

    <label for="">Foto</label>
    <input type="file">

    <label for="">Telepon</label>
    <input type="tel">

    <label for="">Ukuran Sepatu</label>
    <input type="number">

    <label for="">Ukuran Sepatu</label>
    <input type="number">

    <label for="">Ukuran Sepatu</label>
    <input type="number">

    <label for="">ID Member</label>
    <input type="hidden">

    <label for="">Jenis Member</label>
    <label> <input type="radio" name="jenis_m"> Silver </label>
    <label> <input type="radio" name="jenis_m"> Gold </label>
    <label> <input type="radio" name="jenis_m"> Ultimate </label>

    <label for="">Jenis Kelamin</label>
    <input type="radio" name="jenis_k" id="jn_lk">
    <label for="jn_lk">Laki-laki</label>

    <input type="radio" name="jenis_k" id="jn_pr">
    <label for="jn_pr"> Perempuan</label>

    <label for="">Hobi</label>
    <input type="checkbox"> Makan
    <input type="checkbox"> Tidur
    <input type="checkbox"> Jalan-jalan

    <label for="">Paket Kursus</label>
    <select>
        <option value="">Android Development</option>
        <option value="">Desain Grafis</option>
        <option value="">Arsitektur</option>
        <option value="">Web Developer</option>
    </select>

    <label for="">Alamat</label>
    <textarea rows="5" cols="60"></textarea>

    <br><br>

    <input type="submit" value="Simpan">
    <input type="button" value="Batal">
    <input type="reset" value="Bersihkan">
</form>
