body {
    font-family: 'Segoe UI';
    font-size: 14px;
    margin: 0;
    background: linear-gradient(to left, #1567aa, #2eb5e0);
}

form {
    margin: 50px auto;
    padding: 20px;
    width: 40%;
    height: auto;
    border: solid 2px #777;
    border-radius: 8px;
    box-shadow: 0 10px 50px #EEE;
    background: #FFF;
}

label {
    display: block;
    margin-bottom: 5px;
}

input:not([type=radio]):not([type=checkbox]):not([type=file]):not([type=color]),
select,
textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    box-sizing: border-box;
    border: solid 2px #CCC;
    border-radius: 5px;
    outline: 0;
    transition: all 0.3s linear;

    font-family: inherit;
    font-size: 14px;
}

input[type=radio] {
    display: inline-block;
    height: auto;
    width: auto;
}

textarea {
    height: auto;
    padding: 10px 15px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #2eb5e0 !important;
}

input:hover,
select:hover,
textarea:hover {
    border-color: #db996d !important;
}

input[type=submit] {
    background: #5ebb3a;
    border-color: #52a730 !important;
    color: #FFF
}

input[type=reset] {
    background: #bb3a3a;
    border-color: #a02d2d !important;
    color: #FFF
}

input[type=button] {
    background: #bb833a;
    border-color: #a06e2c !important;
    color: #FFF
}

@font-face {
    font-family: "FontKu";
    src: url('Gloss_And_Bloom.ttf');
}

form > h2 {
    font-family: "FontKu";
}

h2,
h3 {
    margin: 0;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-family: 'Calistoga', cursive;
}

/*
    CSS Combinator

    descendant selector (space) = mencari element p didalam div (semuanya!)
    child selector (>) = mencari element p didalam div (semuanya! tapi 1 tingkat)
    adjacent sibling selector (+) = mencari element p setelahnya div (1 tingkat)
    general sibling selector (~)
*/

input[type='file']+br+label,
input[type='color']+br+label,
select+br+label {
    margin-top: 15px;
}

textarea+br~input {
    width: auto !important;
    margin-top: 20px;
}

/*  continue styling form  */

/* cara memanggil font internal */
@font-face {
    font-family: "FontBangBang";
    src: url('Western-Bang-Bang.otf');
}
/* penerapan font internal (sama dengan umumnya) */
input[type=submit] {
    font-family: "FontBangBang" !important;
    /* !important = memprioritaskan value dengan property yang sama dengan selector lainnya */
    text-transform: uppercase;
}
