<!-- Membuat Style CSS (Cascading Style Sheet) -->
<!--
    CSS (Cascading Style Sheet) adalah untuk membuat si website terlihat menarik

    CSS Inline (di Atribut) : hanya ada di satu elemen
        Internal : ada didalam file html itu sendiri
        External : file terpisah sehingga bisa dipanggil oleh banyak html/halaman

 -->
<style>
    /* HTML          CSS
       Element  ->   Selector
       Atribut  ->   Property & Value
    */
    body {
        background: skyblue;
    }

    h1 {
        text-transform: uppercase;
    }

    strong {
        color: chartreuse;
    }

    b, em, i, ins {
        font-size: 22px;
        color: tomato;
    }
    i {
        border: dashed aliceblue 5px;

        /* border-style: dashed;
        border-color: aliceblue;
        border-width: 5px; */
    }
    li {
        background: #59e209;
        color: #FFF;
        margin-bottom: 5px;
        padding: 5px;
    }

    s {
        font-size: 30px;
        background: #09d3e2;
        border: solid 1px #06aab6;

        /* margin-top: 20px;
        margin-left: 50px;
        margin-bottom: 70px;
        margin-right: 20px; */

        margin: 20px;
        margin: 20px 100px;
        margin: 20px 0 50px;
        margin: 20px 20px 30px 20px;

        padding: 20px;
        padding: 10px 20px;

        display: inline-block;

        font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    form {
        border: solid 2px #CCC;
        border-radius: 10px;
        padding: 20px;
        margin: 30px auto;
        width: 500px;
        background: #FFF;
        color: #000;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }

    form input {
        display: block;
        margin: 5px 0 10px;
        border: solid 1px #CCC;
        width: 100%;
        padding: 8px 10px;
        font-family: inherit;
        font-size: inherit;
    }
</style>


Halo siswa, <b style="color: red">selamat belajar</b> Web di <b>Karisma Academy</b>

<hr>

<!-- Komentar/catatan
    hr : membuat garis horizontal
    br : membuat alinia baru (enter)

    <> : tanda tag
    b, a, hr dll : elemen
    href, width, dll didalam elemen : atribut
-->

Ini adalah teks biasa tanpa tag
<p style="color: red; font-size: 20px;">Teks dengan paragraf</p>


<br>

<strong>Teks tebal 1</strong> <br>
<b>Teks tebal 2</b> <br>
<em>Teks miring 1</em> <br>
<i>Teks miring 2</i> <br>
<ins>Teks garis bawah 1</ins> <br>
<u>Teks garis bawah 2</u> <br>
<del>Teks coret 1</del> <br>
<s>Teks coret 2</s> <br>

<i><u><b>Belajar web sangatlah mudah dan menyenangkan</b></u></i>

<form >
    <label>Nama Lengkap</label>
    <input type="text">

    <label>Email</label>
    <input type="email">

    <label>Kata Sandi</label>
    <input type="password">

    <input type="submit" value="Daftar">
    <input type="reset" value="Batal">
</form>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<hr>

<ul>
    <li>PHP</li>
    <li>Java</li>
    <li>Ruby</li>
    <li>Kotlin</li>
</ul>

<ol>
    <li>PHP</li>
    <li>Java</li>
    <li>Ruby</li>
</ol>

<a href="http://google.com"> Link ke google </a> <br>
<a href="http://twitter.com" target="_blank"> Link ke Twitter </a>

<hr>

<img src="https://cdn.getyourguide.com/img/location_img-314-369597945-148.jpg" width="500" alt="Gambar Pantai">

<a href="http://youtube.com">
    <img src="http://www.pngall.com/wp-content/uploads/1/Smile-PNG-Image-File.png" alt="">
</a>
