<style type="text/css">
	body {
		font-family: 'Arial';
		background-image: url('https://media.istockphoto.com/vectors/bear-seamless-pattern-polar-bear-panda-vector-doodle-background-vector-id942539814');
		background-repeat: repeat;
		background-attachment: fixed;
	}
	h2, h3, h4, h5, h6 {
		background: darkred;
		font-family: 'Algerian';
		margin: 0;
		font-size: 18px;

	}
	h3, h4, h5, h6 {
		background: transparent !important;
	}
	b {
		font-size: 12pt;
		color: blue;
	}
	img {
		margin: 50px 100px 0 200px; /* Margin : jarak objek ke luar */
		padding: 10px 20px; /* Padding : jarak objek ke dalam */
	}
	ul li {
		color: green;
		list-style: circle;
	}
	p {
		background: linear-gradient(to right, blue, green, rgba(255, 0, 0, 0.3), yellow);
		color: #FFF;
	}
	ol {
		background: rgba(40, 63, 99, 0.7);
		border: solid 2px #1d304f;
		color: #FFF;
		padding-top: 10px;
		padding-bottom: 10px;
	}

</style>

Saya belajar WEB Master

<h2>Hallo Karisma 2</h2>
<h3>Hallo Karisma 3</h3>
<h4>Hallo Karisma 4</h4>
<h5>Hallo Karisma 5</h5>
<h6>Hallo Karisma 6</h6>

Saya belajar web<br>
Dan PHP<br>

<p style="color: green">Paragraf 1</p>
<p>Paragraf 2</p>
<p>Paragraf 3</p>

<strong>Tulisan tebal 1</strong><br>
<b>Tulisan tebal 2</b><br>
<em>Tulisan Miring 1</em><br>
<i>Tulisan Miring 1</i><br>
<strike>Tulisan di garis 1</strike><br>
<s>Tulisan di garis 2</s><br>
<u>Tulsan Garis bawah</u><br>

<i>Saya <u>belajar web di</i><b>karisma</b></u>

<h1>Hello Karisma 1</h1>

<a href="http://google.com">Link ke google</a><br>
<a href="http://twitter.com" target="_BLANK">Link ke Twitter</a><br>
<a href="tel:0812239192">Hubungi Kami</a><br>
<a href="mailto:email@gmail.com">Email Kami</a>

<ul>Kursus Karisma
	<li>Web Design</li>
	<li>Web Master</li>
	<li>Desain Grafis</li>
	<li>Sipil</li>
</ul>

<ol>Kursus Karisma
	<li>Web Design</li>
	<li>Web Master</li>
	<li>Desain Grafis</li>
	<li>Sipil</li>
</ol>

<img style="border: solid 1px" width="50%" src="http://wallpapers.ae/wp-content/uploads/2015/01/Spider-Web-Wallpapers.jpg">
