<!--
1. css inline/internal
2. css external
3. css ada di atribut

1. Font Lokal (font yang terinstall di komputer) / css
2. Font Online / html + css
3. Font web source / css
-->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<style>
    @font-face {
        font-family: "FontSaya";
        src: url('Hasthon.ttf');
    }
    h3 {
        color: #7a1244;
        background: green;
    }
    body {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1em;
        line-height: 1.3;
/*
        background-image: url(https://images.all-free-download.com/images/graphiclarge/nature_background_fruit_leaves_icons_repeating_design_6832221.jpg);
        background-repeat: repeat;
        background-position: right center;
        background-size: 400px;
*/
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    h1 {
        color: rosybrown;
        cursor: pointer;
        font-family: 'FontSaya';
    }
    h1:hover {
        color: red;
    }
    h1:active {
        position: relative;
        top: 1;
    }
    h1:first-letter {
        font-size: 48px;
    }
    .kotak {
        font-family: 'Roboto';
        line-height: 1.5;
        text-align: justify;
        width: 50%;
        height: auto;
        background: #CCC;
        border: solid 1px #888;
/*
        margin: 60px;
        margin: 60px 200px;
        margin: 60px 100px 200px;
*/
        margin: 30px auto 60px;
        padding: 20px 20px 10px;
        box-sizing: border-box;
        position: relative;
        position: absolute;
        position: fixed;
        position: sticky;
        top: 0;
        bottom: 0;
        right: 0;
/*        margin-top: 200px;*/
    }
    .kotak ~ ul {
        color: red;
    }

</style>

Saya belajar WEB Master

<h2 style="color: red">Hallo Karisma 2</h2>
<h3>Hallo Karisma 3</h3>
<h4>Hallo Karisma 4</h4>
<h5>Hallo Karisma 5</h5>
<h6>Hallo Karisma 6</h6>

Saya belajar web<br>
Dan PHP<br>

<p>Paragraf 1</p>
<p>Paragraf 2</p>
<p>Paragraf 3</p>

<strong>Tulisan tebal 1</strong><br>
<b>Tulisan tebal 2</b><br>
<em>Tulisan Miring 1</em> <br/> <hr>
<i>Tulisan Miring 1</i><br>
<strike>Tulisan di garis 1</strike><br>
<s>Tulisan di garis 2</s><br>
<u>Tulsan Garis bawah</u><br>

<i>Saya <u>belajar web di</i><b>karisma</b></u>

<h1>Hello Karisma 1</h1>

<a href="http://google.com">Link ke google</a><br>
<a href="http://twitter.com" target="_BLANK">Link ke Twitter</a><br>
<a href="tel:0812239192">Hubungi Kami</a><br>
<a href="mailto:email@gmail.com">Email Kami</a>

<div class="kotak">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium urna sit amet metus posuere, at placerat ipsum venenatis. Maecenas tincidunt augue sit amet magna lobortis tristique ut a purus. Nam condimentum tellus ut quam commodo blandit. Nulla sit amet nulla eu lacus sagittis cursus et ut nisi. Donec ut ligula facilisis, efficitur quam ac, dignissim ligula. In fringilla, eros vitae aliquam vestibulum, magna magna ornare elit, sit amet scelerisque ante ipsum vel dolor. Praesent a sapien feugiat, ultrices enim eu, tincidunt ante.
    <p>CSS selector can contain more than one simple selector 1.</p>
    <p>CSS selector can contain more than one simple selector 2.</p>
    <div>
        <p>Hello</p>
        <p>World!</p>
    </div>
</div>

<ul>Kursus Karisma
	<li>Web Design</li>
	<li>Web Master</li>
	<li>Desain Grafis</li>
	<li>Sipil</li>
</ul>

<ul>Kursus Karisma
	<li>Web Design</li>
	<li>Web Master</li>
	<li>Desain Grafis</li>
	<li>Sipil</li>
</ul>

<ol start="5">Kursus Karisma
	<li><b>Web Design</b></li>
	<li>Web Master</li>
	<li>Desain Grafis</li>
	<li>Sipil</li>
</ol>

<img style="border: solid 1px" width="50%" src="http://wallpapers.ae/wp-content/uploads/2015/01/Spider-Web-Wallpapers.jpg">
