/*
	CSS = Cascading Style Sheet
	Untuk mempercantik si html
	Memberi warna, font, layout, dll

	CSS 3 jenis penggunaan
	1. Internal
	2. Eksternal
	3. Inline/atribut

	selector { property: property value;  }

	Class = spesifik, tapi bisa di panggil berulang2 dan digunakan banyak element
	ID = Unik, hanya boleh ada 1, dan tidak bisa di panggil lebih dari 1 element
*/

h1 {
	color: white;
	background: red;
	padding-left: 30px;

	/* Memberi jarak dari box ke LUAR */
	margin: 50px;
	/* Memberi jarak dari box ke DALAM */
	padding: 10px;
}

/* Combinator */
ol li {
	color: red;
}

html {
	background: #FFF;
}

.garis {
	border: solid 1px #f2bfbf;
	width: 1220px;
}

#garis {
	border: dotted 1px #000;
}

.background {
	background: green;
	width: 50%;
	padding: 20px;
	/*padding: 20px 50px;*/
	/*padding: 20px 10px 40px;*/
	/*padding: 20px 10px 50px 25px;*/
	border-radius: 20px;
}

/* CSS UNITS */



small {
	width: 100px;
	display: inline-block;
}

input, select, textarea {
	margin-bottom: 10px;
	border: solid 1px #31a4f7;
	padding: 6px 10px;
	outline: 0;
}

input[type=submit],
input[type=reset] {
	background: #31a4f7;
	color: #FFF;
	padding: 8px 25px;
	font-family: 'Segoe UI';
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
}

input[type=reset] {
	background: darkred;
	border-color: darkred;
}
