<link rel="stylesheet" href="pertama.css">

Hello world
<br>
Hello world again <br>
<strong>Teks dengan huruf tebal I</strong> <br>
<b>Teks dengan huruf tebal II</b> <br>
<em>Tulisan miring I</em> <br>
<i>Tulisan miring II</i> <br>
<u>Tulisan garis bawah</u> <br>
<s>Tulisan coret</s>
<p>Tulisan dengan menggunkan elemen p (paragraf)</p>

<b>HE<i>LLO</i> <s>WORLD</s></b>


<h1>Heading 1</h1>
<h2 class="garis">Heading 2 1.1</h2>
<h2 id="garis">Heading 2 1.2</h2>
<h2>Heading 2 1.3</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6 class="garis background">Heading 6</h6>

<hr> <!-- garis horizontal -->

<!-- LINK -->
<a href="http://google.com">ke Google</a>
<br>
<a href="http://twitter.com" target="_blank">ke Twitter</a>

<hr>

<!-- Untuk List -->
<ul>Paket Kursus
	<li>Graphic Design</li>
	<li>Web Developer</li>
	<li>Marketing</li>
</ul>

<!-- Untuk List Numbering -->
<ol>Paket Kursus
	<li>Graphic Design</li>
	<li>Web Developer</li>
	<li>Marketing</li>
</ol>

<hr>

<!-- Membuat table -->
<table border="1" cellspacing="0" cellpadding="3" width="500">
	<tr>
		<th>#</th>
		<th>Nama</th>
		<th>Jenis Kelamin</th>
		<th>Alamat</th>
	</tr>
	<tr>
		<td>1.</td>
		<td>Andi</td>
		<td>L</td>
		<td>Malang</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>Nita</td>
		<td>P</td>
		<td>Malang</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>Ocha</td>
		<td>P</td>
		<td>Surabaya</td>
	</tr>
</table>
<br>
<!-- Membuat table dengan merge cell -->
<table border="1" cellspacing="0" cellpadding="3" width="500">
	<tr>
		<th rowspan="2">#</th>
		<th rowspan="2">Nama</th>
		<th colspan="3">Nilai</th>
		<th rowspan="2">Keterangan</th>
	</tr>
	<tr>
		<th>UTS</th>
		<th>UAS</th>
		<th>UN</th>
	</tr>
	<tr>
		<td>1.</td>
		<td>Andi</td>
		<td>22</td>
		<td>44</td>
		<td>55</td>
		<td>Malang</td>
	</tr>
	<tr>
		<td>2.</td>
		<td>Nita</td>
		<td>22</td>
		<td>44</td>
		<td>55</td>
		<td>Malang</td>
	</tr>
	<tr>
		<td>3.</td>
		<td>Ocha</td>
		<td>22</td>
		<td>44</td>
		<td>55</td>
		<td>Surabaya</td>
	</tr>
</table>

<hr>
<!-- FORM -->
<form action="">
	<small>Text</small>
	<input type="text"> <br>

	<small>Email</small>
	<input type="email"> <br>

	<small>Number</small>
	<input type="number"> <br>

	<small>Date</small>
	<input type="date"> <br>

	<small>Color</small>
	<input type="color"> <br>

	<small>File</small>
	<input type="file"> <br>

	<small>Select</small>
	<select>
		<option>Android Development</option>
		<option>PHP Development</option>
		<option>SIPIL</option>
		<option>Digital Marketing</option>
		<option>Arsitektur Digital</option>
		<option>Web Master</option>
	</select> <br>

	<small>Radio</small>
	<input type="radio" id="lk" name="jenis_kelamin"> <label for="lk">Laki-laki</label>
	<input type="radio" id="pr" name="jenis_kelamin"> <label for="pr">Perempuan</label> <br>

	<small>Checkbox</small>
	<input type="checkbox" name="hobi" id="mk"> <label for="mk">Makan</label>
	<input type="checkbox" name="hobi" id="td"> <label for="td">Tidur</label>
	<input type="checkbox" name="hobi" id="bl"> <label for="bl">Belajar</label> <br>

	<small>Textarea</small>
	<textarea cols="30" rows="10"></textarea>

	<br><br>

	<input type="submit" value="Kirim">
	<input type="reset" value="Batalkan">

	<!-- RADIO, SELECT -->
</form>

<hr>

<a href="https://html.com/wp-content/uploads/html-hpg-featured-new.png">
	<img src="https://html.com/wp-content/uploads/html-hpg-featured-new.png" width="500px">
</a>
