<h1>Heading 1</h1>
<h2>Heading 1</h2>
<h3>Heading 1</h3>
<img src="https://s3.amazonaws.com/images.seroundtable.com/google-g-groupon-g-1441368832.gif" alt="">
<br> <hr>
<p class="paragraf">Paragraf</p>
<a href="#">LINK</a>
