<style type="text/css">
    html {
        font-family: 'Roboto';
        background-image: url('https://media.istockphoto.com/vectors/cat-seamless-pattern-kitten-vector-scarf-isolated-background-repeat-vector-id959462762');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    h1 {
        color: darkslategray !important;
    }
    h2 {
        color: red;
        text-decoration: underline; /*membuat tulisan garis bawah*/
        background-color: aquamarine;
    }
    ul ~ ol {
    }
/* Combinator
1. spasi : ul li = mencari selector li didalam ul, keseluruhan 
2. child (>) : ul > li = mencari selector li didalam ul satu tingkat
3. general sibling (~) : ul ~ ol = mencari semua selector ol setelah ul 
4. sibling (+) : ul + ol = mencari satu selector ol setelah ul 
*/
    ul li:hover {
        color: fuchsia;
        cursor: pointer;
        user-select: none
    }
    ul li:active {
        position: relative;
        top: 1px;
    }
    ol {
        background: #c1535c95;
        padding: 50px; /*memberi jarak dari box, kedalam*/
        margin: 20px 50px;
        color: #FFF;
        border-radius: 10px;
    }
    ol li:not(:last-child) {
        margin-bottom: 10px;
    }
    ol li:nth-child(2n){
        color: deepskyblue;
    }
/* PSEUDO
CLASS    
ELEMENT
*/
</style>


<h1 style="color: blue">Web Master</h1>
<h2>Web Programming</h2>
<h3>Web Design</h3>
<h4>Marketing</h4>
<h5>Arsitek</h5>
<h6>Sipil</h6>

<hr>

Teks biasa <br>
Teks biasa 2
<p>paragraf 1</p>
<strong>huruf tebal 1</strong> <br>
<b>huruf tebal 2</b> <br>
<em>huruf miring 1</em> <br>
<i>huruf miring 2</i> <br>
<u>teks dengan garis bawah</u> <br>
<s>teks dengan coret</s>

<br><br>

<b>KARI<s>SMA</s></b> <i><u>ACADEMY</u></i>

<br>

<ul>
    <li>Web Design</li>
    <li>Web Master</li>
    <li>Web Programming</li>
    <li>Internet Marketing</li>
    <li>Aplikasi Sipil</li>
    <a href=""><li>Aplikasi Sipil</li></a>
</ul>

<ol>
    <li>Web Design</li>
    <li>Web Master</li>
    <li>Web Programming</li>
    <li>Internet Marketing</li>
    <li>Aplikasi Sipil</li>
</ol>

<a href="http://google.com" target="_blank">Link menuju ke google.com</a> <br>
<a href="http://twitter.com">
    <img src="https://www.tutorialrepublic.com/lib/images/html-illustration.png" width="500" >
</a>
