<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        margin: 0;
    }
    h1 {
        text-align: center;
        color: aqua
    }
    h2 {
        background: #CCC;
        color: red;
    }
    p {
        text-align: justify;
        text-indent: 30px;
    }
    .wrap-maps {
        height:400px;
        width:100%;
        display:inline-block;
        overflow:hidden;
    }
    .maps {
        position: relative;
        border: 0;
        top: -48px;
    }
</style>

<h1>Heading 1</h1>
<h2>Heading 2</h2>

<a href="http://fb.com">
    <img width="200" src='https://wi-images.condecdn.net/image/L87Z6jxpZ7x/crop/1620/f/gmail.jpg'>
</a>

<hr>
<a href="http://www.google.com">Google</a><br>
<a target="_blank" href="http://www.twitter.com">Twitter</a>

<ul>
    <li>Web Design</li>
    <li>Web Master</li>
    <li>Mobile App</li>
</ul>

<ol start="4">
    <li style="color: blue; background: red">Web Design</li>
    <li>Web Master</li>
    <li>Mobile App</li>
</ol>

<b>Huruf Tebal 1</b><br>
<strong>Huruf Tebal 2</strong><br>
<em>Miring 1</em><br>
<i>Miring 2</i><br>
<strike>Strike 1</strike><br>
<s>Strike 2</s><br>
<u>Underline</u>

<button><i class="fa fa-times"></i></button>

<p>Maecenas a ornare nunc. Aliquam erat volutpat. Sed convallis sem non magna efficitur, eu tincidunt magna dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie semper neque, sit amet ultrices erat rhoncus vel. Sed ullamcorper felis in dolor tincidunt, non consectetur mauris rhoncus. Cras pellentesque lacus quam, et hendrerit quam fermentum ac. Fusce finibus leo nec dolor auctor pulvinar. Aliquam bibendum, mauris id aliquet tincidunt, massa tellus luctus nisi, eu laoreet ipsum velit facilisis sem. Aliquam erat volutpat. Maecenas aliquam, ante eget euismod commodo, leo nibh ultrices odio, a placerat leo nulla sed erat.</p>

<p>Integer arcu orci, mollis eget est cursus, pretium venenatis justo. Quisque at tincidunt est. Donec eu imperdiet odio. Aenean pharetra neque elit, eget viverra arcu egestas id. Integer volutpat dictum tellus, viverra consequat diam posuere cursus. Sed eget mauris quis ipsum ornare dapibus luctus sed dolor. Nunc accumsan sodales purus sed auctor. Donec egestas at odio id efficitur. Aliquam eget congue erat.</p>

<div class="wrap-maps">
    <iframe class="maps" src="https://www.google.com/maps/d/embed?mid=1IDAR6QTL1cGFrcUxzmtVlwpFhp0l3kNr&hl=id" width="100%" height="500"></iframe>
</div>