body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background: #F3F6F8;
}

img {
    max-width: 100%;
}

header {
    height: auto;
    background: #FFF;
    padding-bottom: 30px;
    box-shadow: 0 3px 10px #f7f7f7;
}

header a,
header a:link {
    color: #333;
}

header .row {
    margin-top: 50px;
}

header h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
}

header h1 {
    margin: 0 0 40px;
    font-size: 2em;
}

/* Content
class = .
id = #
*/
.content {
    padding-top: 40px;
}

.wrap-sort {
    display: flex;
    flex-wrap: unset;
    justify-content: flex-end;
    align-items: center;
}

.wrap-sort select {
    width: 200px;
    margin: 0 10px;
    height: calc(1.5em + .75rem + 0px);
}

.wrap-sort a,
.wrap-sort a:link {
    color: #444;
    margin-right: 10px;
    font-size: 1.3em;
    transition: all .3s linear;
}

.wrap-sort a:last-child,
.wrap-sort a:link:last-child {
    margin-right: 0;
}

.wrap-sort a:hover {
    color: var(--primary);
}

.grid .card {
    border: solid 1px #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px #F4F4F4;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.grid img {
    border: solid 3px #FFF;
    border-radius: 100px;
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    box-shadow: 0 4px 10px #EEE;
}

.grid h4 {
    font-size: 1.1em;
    margin: 0;
    color: var(--primary);
}

.grid h5 {
    font-size: 0.8em;
    color: #999;
    font-weight: normal;
    margin: 5px 0 10px;
}



/* Custom CSS Bootstrap */
.form-control,
.btn {
    height: calc(1.5em + .75rem + 10px);
    border-radius: 8px;
}
