body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

header {
    background: #3D3D3D;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.7;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.nav .nav-link {
    color: #FFF;
}

.nav .nav-link:hover {
    color: #DDD;
}


/* Banner */
.banner {
    padding: 100px 15px 0;
    box-sizing: border-box;
    height: 500px;
    background: #EEE;
}

.banner h1 {
    font: Regular 100px/134px 'Sunglass';
    color: #FFFFFF;
    display: inline-block;
}

.banner h3 {
    display: inline-block;
}
