body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

a,
a:link,
a:visited {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Grid Line */
.grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.grid > div {
    border-right: solid 1px #88888810;
    height: 100%;
    width: 16.66%;
    flex: auto;
    flex-flow: 1;
    text-align: center;
}

.grid > div:last-child {
    border-right: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 70px 0;
    box-sizing: border-box;

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.1rem;
}

.navbar-bottom {
    transform: rotate(270deg) translateX(50px);
}

.navbar-bottom a:first-child {
    margin-right: 20px;
}

.navbar-bottom a:last-child {
    margin-left: 20px;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu > span:first-child,
.menu > span:last-child {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ba967d;
    margin-top: 10px;
    margin-bottom: 8px;
}

.menu > span:last-child {
    width: 60%;
    margin: 0;
}


/* Content */
section {
    position: relative;
}

.wrap-content {
    width: 66.68%;
    height: 100vh;
    margin: 0 auto;
}

/* First section */
.first .parallax {
    min-height: 100vh;
    max-width: 66.68%;
    background: transparent;
}

.parallax-1 {
    width: 66.68%;
    height: 100vh;
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.parallax-1 img {
    object-fit: cover;
}
