body {
    margin: 0;
    font-size: 14px;
    font-family: 'Josefin Sans', 'Roboto', sans-serif;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#kiri {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
}
#kiri img {
    width: 70px;
    margin: 20% auto 0;
    display: block;
}
#kiri form {
    padding: 0 40px;
}
#kiri input,
#kiri button,
#kiri p {
    display: block;
    font-size: 14px;
    font-family: 'Josefin Sans', 'Roboto', sans-serif;
    text-align: center;
}
#kiri input {
    color: #333;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 15px;
    height: 30px;
    border: 0;
    padding-left: 28px;
    border-bottom: solid 2px #CCC;
    transition: all .3s linear;
}
#kiri input:focus {
    border-color: #2685D5;
}
#kiri input:focus + span {
    color: #2685D5;
}
#kiri button {
    outline: 0;
    height: 30px;
    line-height: 30px;
    margin: 20px auto 50px;
    padding: 0 15px;
    border: solid 2px #2685D5;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: all .2s linear;
    display: inline-block;
}
#kiri button:hover {
    border-color: #1769ad;
    background: #dce4eb;
}
#kiri p {
    cursor: pointer;
}
#kiri p:hover {
    color: #666;
}
#kiri .ti-user,
#kiri .ti-lock,
#kiri .fa-id-badge,
#kiri .fa-phone,
#kiri .fa-envelope,
#kiri .fa-user,
#kiri .fa-lock {
    position: absolute;
    margin-top: -40px;
    margin-left: 5px;
    color: #AAA;
    transition: all .3s linear;
}
#kanan {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, #7733D6, #2685D5);
    text-align: center;
    cursor: default;
    z-index: -1;
}
#kanan .background {
    background: url('../img/leel.png');
    background-size: contain;
    background-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index: 1;
}
#kanan .deskripsi {
    margin: 20% 50px;
    color: #FFF;
    position: absolute;
    z-index: 2;
}
#kanan h1 {
    margin-top: 0;
}
#kanan p {
    font-size: 16px;
    line-height: 1.5;
}
#kanan button {
    margin: 20px auto 0;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    color: #FFF;
    background: transparent;
    border: solid 2px #FFFFFF80;
    font-family: 'Josefin Sans', 'Roboto', sans-serif;
    line-height: 38px;
    transition: all .3s linear;
    cursor: pointer;
}
button.clear {
    border: solid 2px #b52d2d !important;
}
button.clear:hover {
    background: #f0e0e0 !important;
}
#kanan button:hover {
    background: #533e98;
}
#kanan .copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #CCC;
    font-size: 12px;
}
.show-pass {
    position: absolute !important;
    right: 10%;
    margin-top: -45px;
    background: #CCC;
    width: 22px;
    height: 22px;
    padding-top: 3.5px;
    padding-left: 1px;
    border-radius: 15px;
    font-size: 14px !important;
    color: #000 !important;
    box-sizing: border-box;
    text-align: center;
    transition: all .2s linear;
    cursor: pointer;
}
.show-pass.active {
    background: #888;
}
span.danger1,
span.danger2 {
    display: none;
    position: relative;
    top: -10px;
    color: red;
    font-size: 12px;
    margin-left: 28px;
}

@media(max-width: 850px) and (min-width: 660px){
    #kiri button {
        display: block;
        margin-top: 40px;
        margin-bottom:  0;
        width: 100%;
    }
    #kiri button.clear {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    #kiri {
        width: 40%;
    }
    #kanan {
        width: 60%;
    }
}

@media(max-width: 660px){
    #kiri,
    #kanan {
        width: 100%;
        position: relative;
    }
    #kanan {
        margin-top: 50px;
        padding-top: 1px;
        position: absolute;
        height: 620px;
        z-index: 2;
    }
    #kanan .copyright {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;
        color: #555;
        padding: 6px 0;
        background: #FFF;
    }
}

@media(max-height: 580px){
    #kanan .copyright {
        display: none;
    }
}