body {
    font-family: 'Josefin Sans';
    margin: 0;
}
a {
    color: #000;
    text-decoration: none;
}
header {
    position: relative;
    height: 60px;
    background: #00897B;
    box-shadow: 0 -1px 13px #00897B;
}
header nav {
    width: 1200px;
    margin: 0 auto;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav > ul > li {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    list-style: none;
    margin-right: 25px;
}
header nav > ul > li a {
    color: #FFF;
}
header nav > ul > li a:hover,
header nav > ul > li a:focus,
header nav > ul > li a:active {
    color: #DDD;
}
header .list-menu:hover > .list {
    display: block;
    transition: opacity 0.3s linear;
}
header .list {
    display: none;
    position: absolute;
    background: #0e6f65;
    margin: 0;
    padding: 10px 35px 5px 25px;
    border-radius: 0 0 5px 5px;
}
header .list > li {
    display: block;
    list-style: none;
    height: 40px;
    line-height: 40px;
}
span.caret {
    font-size: 8px;
}