html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Overpass', 'Segoe UI', 'Roboto';
    font-size: 14px;
    margin: 0
}

header {
    position: relative;
    height: 35em;
    color: #FFF;
}

header .slider {
    position: absolute;
    top: 0;
}

header .slider .carousel-inner {
    width: 100%;
    height: 36em;
    filter: brightness(50%);
}

header .slider .carousel-inner img {
    height: 36em;
    object-fit: cover;
    object-position: bottom;
}

header .navbar {
    padding: .5rem 0;
}

header .navbar-nav .nav-link {
    color: #5ac967;
    margin: 0 10px;
    font-size: 15px;
}

header .navbar-brand,
header .navbar-nav .active .nav-link,
header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link:focus {
    color: #FFF;
}

.navbar-nav .nav-item.active a,
.navbar-nav .nav-item.active a:link,
.navbar-nav .nav-item.active a:focus {
    border-bottom: solid 2px #FFF;
    padding: .5rem 0 0;
}

header .navbar-nav .nav-item:last-child .nav-link {
    background: #5ac967;
    color: #FFF;
    border-radius: 20px;
    margin-top: 2px;
    padding: 6px 20px 4px;
    transition: all 0.2s linear;
}

header .navbar-nav .nav-item:last-child .nav-link:hover {
    background: #4bb157;
}

.banner h1 {
    margin-top: 50px;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
}

.banner h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #CCC;
}

.banner .btn {
    margin-top: 30px;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 30px 0;
    border-radius: 0;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 45%;
    display: inline-block;
    height: 10%;
    width: 4%;
    color: #fff;
    background: rgba(0,0,0,.1);
    padding-top: 15px;
    box-sizing: border-box;
    vertical-align: middle
}

.carousel-indicators {
    bottom: 70px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-top: 0;
    border-bottom: 0;
}

section .wrap-big {
    background: white;
    margin-top: -50px;
    position: relative;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;
}

section .wrap-big i {
    font-size: 38px;
}

section .wrap-big h3 {
    font-size: 25px;
    margin: 10px 0;
}

section .wrap-big p {
    width: 80%;
    line-height: 1.5;
    margin: 0 auto 20px;
}

section .more,
section .more:link,
section .more:visited {
    background: #88B14F;
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    height: 35px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 20px;
    transition: all .3s linear;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
}

section .more:hover,
section .more:focus {
    background: #6f933e;
}

section .wrap-big > .row:nth-child(2) {
    border-top: dotted 1px #CCC;
    margin-top: 30px;
    padding: 30px 0 30px;
}

section .wrap-big > .row:nth-child(2) > div {
    color: #333;
}

section .wrap-big > .row:nth-child(2) > div:nth-child(1) > i {
    color: #039d9d;
}

section .wrap-big > .row:nth-child(2) > div:nth-child(2) > i {
    color: #218fbc;
}

section .wrap-big > .row:nth-child(2) > div:nth-child(3) > i {
    color: #fc3232;
}

section .wrap-big > .row:nth-child(2) > div:nth-child(4) > i {
    color: #17c969;
}

section .wrap-big h4 {
    font-size: 16px;
    font-weight: normal;
}

section .highlight {
    margin-top: 30px;
}

section .highlight img {
    width: 100%;
}

section .highlight p {
    margin: 10px 0;
    text-align: justify;
}

section .highlight-small {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #DDD;
}

section .highlight-small > .row > div {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1%;
    height: 200px;
    width: 100%;
    flex: 0 0 24%;
    overflow: hidden;
    border-radius: 5px;
}

section .highlight-small img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: all .2s linear;
}

section .highlight-small img:hover {
    transform: scale(1.1);
}

section .highlight-small h3 {
    border-left: solid 3px #444;
    padding: 3px 0 0 12px;
    margin-bottom: 20px;
    margin-left: -10px;
    letter-spacing: 2px;
}

section ul.sponsor {
    margin: 0;
    padding: 0;
    width: 100%;
}

section ul.sponsor > li {
    padding: 0;
    float: left;
    list-style: none;
    margin: 20px 0 20px;
}

section ul.sponsor > li > img {
    filter: grayscale(100%);
    height: 70px;
    opacity: 0.5;
    margin-right: 7px;
    display: inline-block;
    transition: all 0.2s linear;
}

section ul.sponsor > li > img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/* Footer */
footer .footer-body {
    margin-top: 30px;
    position: relative;
    border-top: solid 2px #CCCCCC40;
    width: 100%;
    height: 15em;
}

footer .footer-body:before {
    position: absolute;
    width: 100%;
    height: 15em;
    content: " ";
    background-image: url(../img/back-footer.png);
    background-size: 200px;
    background-position:  center bottom;
}

footer .footer-bottom {
    position: relative;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: #bebebe;
    color: #FFF;
    text-align: right;
}

.to-top,
.to-top:link,
.to-top:visited {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #66666680;
    right: 20px;
    bottom: 20px;
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    padding: 0;
    text-decoration: none;
    transition: all .2s linear;
}

.to-top:hover {
    background: #55555590;
}

.to-top i {
    position: relative;
    font-size: 22px;
    top: 8px;
}

#reservation .modal-content {
    border-radius: 0;
}
