body {
    font-family: 'roboto', sans-serif;
    font-size: 15px;
}

a,
a:link,
a:visited {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #666;
}

img {
    max-width: 100%;
}

header {
    height: 48em;
    background: linear-gradient(to right, #fd3dfdDD, #4482f7dd), url('../img/banner-top.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Top Menu */
.menu-top {
    padding-top: 20px;
}

.logo {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: #FFF !important;
    letter-spacing: 1px;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: right;
}

.menu li {
    display: inline-block;
    list-style: none;
}

.menu li a {
    height: 50px;
    line-height: 50px;
    margin: 0 12px;
    color: #FFF;
}

.menu-primary,
.menu-warning {
    padding: 10px 20px;
    margin: 0 !important;
    color: #FFF;
    border-radius: 25px;
}

.menu-primary {
    background: #0059ff;
    margin-right: 5px !important;
}

.menu-warning {
    background: #ffa600;
}

/* Form banner */
.form-search-top {
    margin-top: 6em;
    color: #FFF;
}

.form-search-top > p {
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    color: #EEE;
}

.form-search-top > h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
}

.form-search-top .wrap {
    width: 15em;
    margin: 0 auto;
    text-align: left;
}

.form-search-top i.fa {
    float: left;
    margin-right: 15px;
}

.form-search-top h2 {
    font-weight: 300;
    margin-bottom: 0;
}

.form-search-top h5 {
    font-size: 1.30em;
    font-weight: 300;
    letter-spacing: 1px;
}

.form-search-top .nav-tabs {
    border: 0;
    display: flex;
    justify-content: center;
}

.form-search-top form {
    margin-top: 4.30rem;
}

.form-search-top form .nav-tabs .nav-link {
    background: #ffa600;
    margin-right: 5px;
    color: #FFF;
    border: 0;
    border-radius: 8px 8px 0 0;
    padding: .8rem 1.10rem;
    letter-spacing: 1px;
}

.form-search-top form .nav-tabs .nav-link.active {
    background: #FFF;
    color: #333;
    z-index: 2;
}

.form-search-top .tab-content {
    background: #FFF;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 10px #888;
    padding: 20px;
    z-index: 1;
    position: relative;
}

.form-search-top input,
.form-search-top select,
.form-search-top button {
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    width: 24%;
    height: 45px;
    line-height: 45px;
    border: solid 1px #DDD;
    border-radius: 8px;
    margin: 0 3px;
    outline: 0;
    transition: all .2s linear;
    font-family: inherit;
    color: #555;
}

.form-search-top input:placeholder {
    color: #555;
}

.form-search-top input:focus,
.form-search-top select:focus {
    box-shadow: 0 0 0 0.2rem #ffa6007c;
}

.form-search-top input {
    padding-left: 40px;
}

.form-search-top button {
    background: #0059ff;
    color: #FFF;
    border: 0;
}

.form-search-top button > i.fa {
    float: unset;
    margin-right: 5px;
}

.form-search-top button:focus {
    box-shadow: 0 0 0 0.2rem #0059ff7c;
}

.tab-pane > i {
    position: absolute;
    color: #888;
    top: 34px;
    margin-left: 20px;
}

/*  */
.highlight {
    margin-top: -50px;
    box-shadow: 0 0 8px #DDD;
}

.highlight a {
    background: #FFF;
    border-right: solid 1px #EEE;
    text-align: center;
    padding: 20px;
    transition: all 0.2s linear;
}

.highlight a:last-child {
    border-right: 0;
}

.highlight a:hover {
    background: #ffa600;
    color: #FFF;
}

.highlight a h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4;
}

.highlight a i {
    font-size: 4em;
    color: #0059ff;
}
