<style type="text/css">
	span {
		position: absolute;
		bottom: 20px;
		right: 20px;
		font-size: 20px;
	}
	img {
		width: 40%;
		max-width: 40%;
		min-width: 
	}

</style>

Hello <span>Karisma</span> !!

<h1>Karisma</h1>

<img src="https://s3.r29static.com//bin/entry/ca6/720x864,80/1884149/image.jpg">