@font-face {
    font-family: "font-saya";
    src: url('fonts/JosefinSans-Regular.ttf')
}

body {
    margin: 0;
    font-family: "font-saya";
    font-size: 14px;
}
#kiri {
    position: absolute;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}
#kiri img {
    width: 80px;
    margin-top: 100px;
}
#kiri .icon {
    position: absolute;
    left: 30px;
    margin-top: 5px;
    font-size: 16px;
    color: #444;
}
#kiri input {
    font-family: 'font-saya';
    display: block;
    width: 100%;
    border: 0;
    margin-bottom: 10px;
    border-bottom: solid 2px #CCC;
    padding: 8px 8px 6px 30px;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.3s linear;
}
#kiri input:focus {
    border-bottom: solid 2px #469EEF;
}
#kiri input::placeholder {
    color: #AAA;
}
#kiri p.jarak-atas {
    margin-top: 50px
}
#kiri button {
    outline: 0;
    border: 0;
    background: #363edb;
    color: #FFF;
    height: 33px;
    width: 90px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "font-saya";
    padding-top: 3px;
    cursor: pointer;
    transition: all 0.3s linear;
}
#kiri button:hover {
    background: #252ba7;
}
#kiri button[type='reset'] {
    background: #dd4f65;
}
#kiri button[type='reset']:hover {
    background: #b23347;
}
#kanan{
    position: absolute;
    width: 70%;
    height: 100%;
    margin-left: 30%;
    background: linear-gradient(to right, #8d398d, #2a2ad0);
    color: #FFF;
    text-align: center;
}
#kanan .background {
    opacity: 0.4;
    background: url('images/leel.png');
    background-size: contain;
    background-position: right;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#kanan h1 {
    margin-top: 20%;
}
#kanan p {
    margin: 0 10%;
    line-height: 1.8;
}
#kanan button {
    font-family: "font-saya";
    height: 35px;
    border: solid 2px #CCC;
    background: transparent;
    padding: 0 20px;
    color: #FFF;
    outline: 0;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all 0.3s linear;
}
#kanan button:hover {
    background: #8d398d70;
}