body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    cursor: default;
}

header {
    z-index: 10;
    top: 0;
    width: 100%;
    position: fixed;
    background: transparent;
    height: 80px;
    line-height: 80px
}

header .nav.menu {
    display: flex;
    align-items: center;
}

header .nav-link {
    padding: 0;
    margin: 0 10px;
    color: #FFF;
}

header .nav-link:not(.logo):first-child {
    border: solid 1px #FFF;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
}

.logo {
    position: relative;
    margin: 0 !important;
    font-size: 24px;
    color: #FFF;
}

.logo::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #FFF;
    bottom: 24px;
    left: 0;
}

/* Section Banner */
.banner {
    position: relative;
    height: 100vh;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner > div {
    padding: 0;
}

.banner .first,
.banner .second,
.banner .third {
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #FFF;
}

.banner .first {
    position: relative;
    height: 100vh;
    width: 70vw;
}

.banner .second {
    position: absolute;
    top: 0;
    right: 0;
    height: 50vh;
    width: 30vw;
}

.banner .third {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50vh;
    width: 30vw;
    color: #222;
    background: #FFF;
}

.banner .third > h5 {
    position: absolute;
    top: 20px;
    z-index: 3;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 50vh;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 150px !important;
    height: 200px !important;
    left: unset;
    right: 50px;
    top: 40%;
    transform: translateY(-50%)
}

.carousel-item .carousel-caption {
    color: #222;
    text-align: left;
    right: 15px;
    left: 15px;
    bottom: 10px;
}

.carousel-control-prev {
    left: 15px
}

.carousel-control-next {
    right: 15px
}

.carousel-control-prev,
.carousel-control-next {
    top: 24vh;
    height: 30px;
    width: 30px;
    background: #33333380;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 80%;
}

/* Banner konten */


/* Style section two */

.about .row > div {
    position: relative;
    height: 100vh;
    overflow: unset;
    display: flex;
    align-items: center;
    overflow: unset;
}

.about .row > div::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    background: #CCC;
    height: 100vh;
    z-index: 9;
}

.about .row > div:nth-child(1):after {
    width: 0;
}

.about .wrap {
    width: 70%;
}

.about h1 {
    position: relative;
    font-size: 3em;
    font-weight: 800;
    z-index: 2;
    transition: all 0.2s linear;
}

.about h1 small {
    font-size: 20px;
    font-weight: 600;
    top: -5px;
    right: -30px;
    position: absolute;
}

/* Style img background */
.about a,
.about a:link,
.about a:visited {
    color: #000;
    text-decoration: none;
    position: absolute;
}

.about .row > div:hover:not(.col-6) a {
    color: #FFF;
}

.about .row > div:hover:not(.col-6):before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #0432c99a;
    content: "";
    z-index: 2;
}

.about .row > div:hover > img,
.about .row > div:hover i {
    opacity: 1;
}

.about .row img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: .5s cubic-bezier(.165, .84, .44, 1);
}

.travel:hover + .work:after,
.work:hover:after,
.bike:hover:after,
.photo:hover:after,
.accesoris:hover:after,
.music:hover:after {
    width: 0 !important;
}

.work img,
.bike img,
.photo img,
.accesoris img,
.music img {
    left: unset !important;
    right: 0;
}

.about .row > div.col-6 {
    z-index: 4;
    background: #FFF;
}

.bike {
    z-index: 3;
    background: #FFF;
}

.photo {
    z-index: 5;
    background: #FFF;
}

.accesoris {
    z-index: 6;
    background: #FFF;
}

.music {
    z-index: 7;
    background: #FFF;
}

/* Animation */
.travel img {
    left: -50px !important;
}

.travel:hover > img {
    left: 0 !important
}

.work img,
.bike img,
.photo img,
.accesoris img,
.music img {
    right: -50px !important;
}

.work:hover > img,
.bike:hover > img,
.photo:hover > img,
.accesoris:hover > img,
.music:hover > img {
    right: 0 !important
}

/* Icon */
.about i.fa,
.about i.far {
    position: absolute;
    bottom: 30px;
    font-size: 2.5em;
    color: #FFF;
    transition: all 0.2s linear;
    opacity: 0;
    z-index: 20
}

/* Term */
.term {
    height: 100vh;
    background: #F2F2F2;
}

.term h3 {
    color: #333;
    font-size: 18px;
    margin: 30px 0 15px;
}

.term p {
    color: #777;
    font-size: 12px;
    text-align: justify;
}

.term .row > div:first-child {
    padding-right: 40px
}

.term .row > div:last-child {
    padding-left: 40px
}

/* Footer */
.footer {
    height: 100vh;
    color: #FFF;
    background: #000;
}

.footer .row {
    margin: 0;
    padding: 0
}

.footer ul {
    margin: 0;
    padding: 40px 0;
}

.footer ul > li {
    list-style: none;
    border-right: solid 1px #55555580;
    text-align: center;
    width: 100%;
    color: #EEE;
    padding: 0 40px;
    font-size: 12px;
}

.footer ul > li:last-child {
    border-right: 0;
}

.footer li i {
    font-size: 38px;
    margin-bottom: 20px;
}

.footer .informations {
    border-top: solid 1px #55555580;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer .informations h3,
.footer .social h3 {
    font-size: 1.2em;
    margin: 0;
}

.informations a,
.informations a:link,
.informations a:visited {
    color: #FFF;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.social {
    border-top: solid 1px #55555580;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.social a,
.social a:link,
.social a:visited {
    font-size: 26px;
    color: #FFF;
    margin-right: 5px;
    text-decoration: none;
}

.social form input[type='text'] {
    border: solid 1px #AAA;
    padding: 0 10px;
    background: transparent;
    border-radius: 4px;
    height: 33px;
    line-height: 33px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: 0;
    transition: all .2s linear;
}

.social form input[type='text']::placeholder {
    color: #EEE;
}

.social form input[type='text']:focus {
    border: solid 1px #FFF;
}

.social form input[type='submit'] {
    border: 0;
    width: 100%;
    height: 33px;
    line-height: 33px;
    border-radius: 4px;
    outline: 0;
    background-color: #FFF;
    transition: all .2s linear;
}

.social form input[type='submit']:hover {
    background-color: #CCC
}

.developer {
    border-top: solid 1px #55555580;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    font-size: 12px;
    color: #666;
}

/* Dark Header */
.dark .nav-link {
    color: #222;
}

.dark .nav-link:not(.logo):first-child {
    border-color: #222;
}

.dark .logo::after {
    background-color: #222;
}

/* Product page */
.product {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.product a {
    text-align: center;
    text-decoration: none;
    color: #222;
    width: 100%;
    display: inline-block;
    position: relative;
}

.product a img {
    width: 90%;
}

.product h3 {
    font-size: 1.2em;
    margin: 0;
}

.product h4 {
    font-weight: normal;
    font-size: 1.3em;
    margin: 10px 0 5px;
    color: #BBB;
}

.wrap-color span {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin: 0 2px;
}

/* Animation product */
.product > a > h3 {
    position: relative;
    top: -30px;
    opacity: 0;
    transition: .5s cubic-bezier(.165, .84, .44, 1);
}

.product > a:hover > h3 {
    top: 0;
    opacity: 1;
}

.product > a > .wrap-detail {
    position: relative;
    bottom: -60px;
    opacity: 0;
    transition: .5s cubic-bezier(.165, .84, .44, 1);
    transition-delay: 0.1s;
}

.product > a:hover > .wrap-detail {
    bottom: 0;
    opacity: 1;
}

.product > a:hover > .wrap-images img:nth-child(2) {
    opacity: 1;
}

.product .wrap-images > img:nth-child(2) {
    position: absolute;
    left: 5%;
    opacity: 0;
    transition: .5s cubic-bezier(.165, .84, .44, 1);
}

/* Detail page */
#detail-images.carousel {
    position: relative !important
}

#detail-images .carousel-inner {
    height: 65vh;
}

#detail-images .carousel-inner {
    top: 50%;
    transform: translateY(-50%);
}

#detail-images .carousel-indicators li {
    background-color: transparent;
    width: 8px;
    height: 8px;
    border-radius: 10px !important;
    margin: 5px 0;
    border: solid 1px #000;
}

#detail-images .carousel-indicators li.active {
    background-color: #000;
}

#detail-images .carousel-item img {
    width: auto !important;
    height: 100% !important;
    left: auto;
    right: auto;
    top: auto;
    transform: translateY(0);
    margin: 0 auto;
}

#detail-images .carousel-indicators {
    right: auto;
    bottom: auto;
    left: 0;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

#detail-images .carousel-indicators a {
    color: #444;
    font-size: 18px;
    margin-left: -2px;
    margin-top: 5px;
}

.desc h3 {
    font-size: 3em;
    font-weight: 600;
    margin: 0
}

.desc h3 + h3 {
    color: #BBB;
    margin: 5px 0;
    font-weight: 800;
}

.desc h4 {
    margin-top: 30px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.desc p {
    font-size: 0.9em;
    color: #777;
}

.desc .wrap-desc {
    border-top: solid 1px #EEE;
    padding-top: 10px;
    line-height: 1.7;
}

/* bottom navbar */
.bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #FFF;
    z-index: 22;
    box-shadow: 0 -1px 0 #EEE;
}

.bottom h3,
.bottom h4 {
    font-size: 1.2em;
    margin: 0;
}

.bottom .wrap-color {
    border-left: solid 1px #DDD;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom .wrap-color a {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #AAA;
    margin: 0 5px;
    transition: all .2s linear;
}

.bottom .wrap-color a:focus {
    box-shadow: 0 0 0 0.3rem rgba(150, 150, 150, 0.5);
}

.bottom .wrap-color a:first-child {
    margin-left: 25px;
}

.bottom .wrap-color a:last-child {
    margin-right: 0;
}

.bottom .wrap-price {
    border-left: solid 1px #DDD;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom a.link,
.bottom a.link:link,
.bottom a.link:visited {
    padding: 0 40px;
    display: flex;
    align-items: center;
    background-color: #0232fc;
    height: 70px;
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.2s linear;
    box-shadow: 0 -1px 0 #0232fc;
}

.bottom a.link:hover {
    background-color: #012bde;
}


/* Style for color */
.color-black {
    background-color: #222 !important;
}

.color-blue {
    background-color: #061aff !important;
}

.color-sky {
    background-color: lightskyblue !important;
}

.color-green {
    background-color: #00ff00 !important;
}

.color-red {
    background-color: #ff0000 !important;
}

.color-pink {
    background-color: #ff006c !important;
}

.color-yellow {
    background-color: #fff500 !important;
}

.color-orange {
    background-color: #ff6c00 !important;
}
