body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

header .wrap-top {
    position: relative;
    height: 40px;
}

header .left {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 1rem;
}

header .right {
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 1rem;
}

header .border-top {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    border-color: #EEE !important;
}

header .navbar-brand {
    background-image: url('../img/hotel-code.png');
    background-size: cover;
    width: 100px;
    height: 40px;
    position: relative;
}

header .navbar-nav .nav-item,
header .navbar-nav .nav-item:link,
header .navbar-nav .nav-item:visited {
    color: #694B29;
    padding: 0 1rem;
    border-right: solid 1px #ad773a;
}

header .navbar-nav .nav-item:hover {
    color: #2D1A09;
}


header .navbar-nav .nav-item:last-child {
    padding-right: 0;
    border-right: 0;
}

.banner {
    height: 560px;
    color: #BBB;
    text-align: center;
    position: relative;
    padding: 100px 0;
}

.banner:before {
    content: " ";
    position: absolute;
    background-image: url('../img/hotel-banner.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(30%);
    width: 100%;
    height: 560px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.banner span {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.banner h1 {
    color: #EEE;
    font-size: 70px;
    letter-spacing: 4px;
    font-family: 'Niconne', cursive;
}

.banner p {
    width: 80%;
    margin: 0 auto 50px;
    line-height: 2.0;
}

.banner .btn {
    background: #6f400e;
    color: #FFF;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
}

.banner .btn:hover {
    background: #a55f15;
}

/* BIG FEATURE */
.big-feature>.container {
    margin-top: -70px;
    background: #FFF;
    padding: 10px 20px;
}

.big-feature form {
    height: 90px;
    background: #EEE;
    margin: -10px -20px 30px;
    padding: 25px;
    z-index: 11;
    position: relative;
}

.big-feature form input {
    display: inline-block;
    background: #FFF;
    margin: 0 10px;
    border: solid 1px #CCC;
    outline: 0;
    transition: all .3s linear;
}

.big-feature form input:focus {
    border-color: #98530a;
}

.big-feature .btn-check {
    background: #a55f15;
    cursor: pointer !important;
    color: #FFF;
    width: 200px;
    border-radius: 0;
}

.big-feature .btn-check:hover {
    background: #98530a;
}

/* List big */
.list-big-feature img {
    height: 50px;
}

.list-big-feature h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0 15px;
    position: relative;
}

.list-big-feature h1:before {
    position: absolute;
    content: " ";
    width: 25px;
    height: 2px;
    background: #666;
    bottom: -2px;
    left: 0;
}

.list-big-feature p {
    text-align: justify;
}

.list-big-feature>div {
    border-right: solid 1px #e1e1e1;
    padding: 0 50px;
}

.list-big-feature>div:last-child {
    border-right: 0;
}

.list-product .card p {
    color: #222;
}

.list-product .card .card-img-top {
    height: 180px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .big-feature>.container {
        margin-top: 0;
    }

    .big-feature form {
        height: auto;
    }

    .big-feature form input {
        display: inline-block;
        flex: unset;
        margin: 0 2.5% 20px;
        height: 35px;
        width: 45%;
        float: left;
    }

    .big-feature .btn-check {
        margin: 0 2.5%;
        width: 100%;
    }

    .list-big-feature>div {
        border-right: 0;
        border-bottom: solid 1px #e1e1e1;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .list-big-feature>div:last-child {
        border-bottom: 0;
    }

    .list-big-feature img {
        float: right;
        margin-top: -10px;
    }

    .list-product .card {
        margin-bottom: 20px;
    }
}
