<style>
    @font-face {
        font-family: 'FontSaya';
        src: url('fonts/SpaceMono-Regular.ttf');
    }
    body {
        font-family: 'Roboto';
        background: url('https://images.unsplash.com/photo-1540205082-e56e180508e6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7cc8260f6b8370c4e32ab6bfc1034254&w=1000&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
    }
    h1 {
        font-family: 'Black And White Picture';
        background: linear-gradient(to right, #CCC, green);
        text-align: center;
        color: #000 !important;
        margin: 20px 50px 100px;
        padding: 10px;
        border-radius: 5px;
    }
    h3 {
        font-family: 'FontSaya';
        color: brown;
        text-transform: uppercase;
    }
    img {
        width: 70%;
        height: 300px;
        object-fit: cover;
    }
    img.bunga {
        height: 200px;
        width: 200px;
        display: block;
        margin: 10px auto;
        border-radius: 50%;
        border: dotted 5px #1F7DDA;
        padding: 4px;
    }
    
    ul li {
        list-style: circle;
    }
    
    ul li:first-child {
        color: blue;
    }
    ul li:last-child {
        color: green;
    }
    ul li:nth-child(2) {
        color: red;
    }
    ul li:nth-child(3)::after {
        content: '"';
    }
    ul li:nth-child(3)::before {
        content: '"';
    }
    
/*  div  p { */
/*  div > p { */
/*  div + p { */
/*
    div ~ p {
        color: red;
    }
*/
    div {
        background: #FF000070;
        padding: 20px;
        text-align: justify;
        color: #FFF;
        text-indent: 40px;
    }
    div a:link,
    div a:visited {
        display: inline-block;
        background: #FFF;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        color: #000;
        text-decoration: none;
        text-indent: 0;
        border-radius: 5px;
    }
    div a:hover {
        color: darkcyan;
    }
    div a:hover > .fab {
        transform: scale(1.8);
        transition: all 0.2s linear;
    }
    .gg:link,
    .gg:visited {
        background: #f2dc1a;
        color: #000;
    }
    .gg:hover {
        background: #d8c413;
    }
    .yt:link,
    .yt:visited {
        background: #FF0000;
        color: #FFF;
    }
    .yt:hover {
        background: #D90000;
    }
    .fb:link,
    .fb:visited {
        background: #415E9B;
        color: #FFF;
    }
    .fb:hover {
        background: #3B5998;
    }
    .tw:link,
    .tw:visited {
        background: skyblue;
        color: #000;
    }
    .tw:hover {
        background: skyblue;
    }
    .box {
        display: inline-block;
        background: url('img/braid-run-sprite.png') left center;
        width: 200px;
        height: 150px;
        animation: gerak .8s steps(10) infinite;
    }
    @keyframes gerak {
        100% { background-position: -2000px; }
    }
    .walk {
        display: inline-block;
        background: url('img/capguy-walk-1472.png');
        width: 140px;
        height: 290px;
        animation: walk 1s steps(8) infinite;
    }
    @keyframes walk {
        100% { background-position: -1472px; }
    }
    .walk-female {
        margin-left: 100px;
        display: inline-block;
        background: url('img/monster.png') left center;
        width: 150px;
        height: 200px;
        animation: walkfem 1s steps(10) infinite;
    }
    @keyframes walkfem {
        100% { background-position: -1900px; }
    }
    
    .walking-head {
        display: inline-block;
        background: url('img/adv_chara.png') left center;
        width: 120px;
        height: 320px;
        animation: jalan 1s steps(12) infinite;
    }
    @keyframes jalan {
        100% { background-position:  -1920px; }
    }
    
    .bola {
        background: url('https://cdn.pixabay.com/photo/2014/04/03/10/11/soccer-ball-310065_960_720.png');
        display: inline-block;
        width: 100px;
        height: 100px;
        background-size: 130px;
        background-repeat: no-repeat;
        animation: linear gelinding 3s infinite;
    }
    @keyframes gelinding {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    

</style>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+And+White+Picture">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<div class="box"></div>


<div class="walk"></div>

<div class="walk-female"></div>

<div class="walking-head"></div>
<div class="bola"></div>

<h1 style="color: red">Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<strong>Tebal 1</strong><br>
<b>Tebal 2</b><br>
<em>Miring 1</em><br>
<i>Miring 2</i><br>
<u>Garis Bawah</u><br>
<s>Garis Coret</s>

<hr>

<ul>Daftar Hewan
    <li>Ayam</li>
    <li>Sapi</li>
    <li>Kambing</li>
    <li>Ayam</li>
    <li>Sapi</li>
    <li>Kambing</li>
</ul>

<ol>Daftar Hewan
    <li>Ayam</li>
    <li>Sapi</li>
    <li>Kambing</li>
</ol>
   
<hr>

<img src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg">
<img class="bunga" src="https://images.all-free-download.com/images/graphiclarge/sunflower_image_06_hd_pictures_167025.jpg">

<div class="bungkus">
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. In pellentesque, ipsum quis sagittis lacinia, mi metus consequat diam, ut cursus sem ante et augue. Mauris condimentum erat congue orci imperdiet sagittis. Nunc et fringilla ligula. Phasellus a eros ullamcorper, fringilla ex sit amet, elementum magna. Aenean non velit eget odio feugiat suscipit fringilla a lorem. Fusce a tellus orci. Etiam cursus, velit sed sagittis molestie, sem justo accumsan eros, in varius tortor nisi a nulla. Morbi ut ex volutpat diam tristique tristique eu non ipsum. Cras finibus, lacus ac volutpat dapibus, turpis augue vestibulum nunc, id laoreet est ex vel urna. Curabitur tempus euismod interdum. Morbi nec malesuada justo. Praesent dapibus non neque nec tempus.</p>

    <p>Cras et pharetra purus, et viverra est. Donec sit amet vestibulum nisl. Etiam finibus mattis sapien, ut facilisis velit laoreet at. Duis semper erat eu enim elementum, id lobortis libero volutpat. Curabitur porta arcu at arcu imperdiet blandit. Sed ut lacus luctus, maximus dolor nec, tristique neque. Etiam ornare, nibh eget luctus lobortis, velit libero mattis dui, nec semper quam nisi vitae felis. Mauris mollis pellentesque lorem, vel dapibus neque. Nam metus mi, convallis vitae hendrerit in, sodales gravida justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer tincidunt pretium tortor id placerat. Nunc pellentesque nunc neque, vitae ultrices erat feugiat ut. Nullam id est et urna interdum ultricies. Nunc fringilla purus nec ipsum iaculis, at aliquam lacus dapibus.</p>
    
    <span>
        <p>Paragraf didalam span</p>
    </span>
    
    <a target="_blank" class="gg" href="http://google.com"><i class="fab fa-google"></i> Google</a>
    <a target="_blank" class="yt" href="http://youtube.com"><i class="fab fa-youtube"></i> Youtube</a>
    <a target="_blank" class="fb" href="http://facebook.com"><i class="fab fa-facebook"></i> Facebook</a>
    <a target="_blank" class="tw" href="http://twitter.com"><i class="fab fa-twitter"></i> Twitter</a>
    <a target="_blank" href="#"><i class="fas fa-compass fa-spin"></i> Setting</a>
</div>

<p>Paragraf 1</p>
<p>Paragraf 2</p>
<p>Paragraf 3</p>