html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block
}

html {
    font: .85em/1 'Aldrich', Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    color: #222
}

header {
    margin: 10px 0 20px 0
}

h1 {
    font-size: 48px;
    color: #6610c6;
    text-transform: uppercase
}

h2 {
    font-size: 22px;
    color: #555
}

a {
    color: #6610c6;
    text-decoration: none
}

#page {
    max-width: 680px;
    padding: 10px;
    margin: 0 auto
}

#viewport {
    margin: 0 auto
}

.slide {
    display: none
}

.slide img {
    width: 100%;
    height: auto;
    display: block
}

.slide.jbs-current {
    display: block
}

#controls {
    margin: 10px 0 20px;
    float: right;
    overflow: hidden
}

#controls li {
    display: inline
}

.increment-control {
    line-height: 1;
    display: inline-block;
    padding: 10px 5px
}

.increment-control:hover {
    text-decoration: none
}

.goto-slide {
    margin-left: 10px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    border: solid 1px #000;
    background-color: #efefef;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 8px #aaa;
    -moz-box-shadow: inset 0px 0px 8px #aaa;
    box-shadow: inset 0px 0px 8px #aaa
}

.goto-slide.current {
    background-color: #6610c6
}

#effect-switcher {
    clear: both
}

#effect-switcher h2 {
    border-bottom: solid 1px #555;
    margin: 0 0 10px
}

#effect-list {
    overflow: hidden
}

#effect-list li {
    display: inline
}

.effect,
.effect:hover {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    border: solid 1px black;
    border-radius: 7px;
    padding: 10px 12px 6px;
    text-decoration: none;
    background-color: #efefef;
    -webkit-box-shadow: inset 0px 0px 8px #aaa;
    -moz-box-shadow: inset 0px 0px 8px #aaa;
    box-shadow: inset 0px 0px 8px #aaa;
    position: relative
}

.effect.current,
.effect:hover.current {
    background-color: #6610c6;
    color: #efefef
}

.effect span,
.effect:hover span {
    font-size: .7em;
    position: absolute;
    top: -8px;
    right: -4px;
    background-color: red;
    border-radius: 6px;
    border: solid 1px #555;
    color: white;
    padding: 3px 4px 2px;
    display: inline-block
}

#time-indicator {
    margin: 20px 0;
    width: 0px;
    height: 3px;
    background-color: #6610c6
}

#credits {
    position: relative;
    margin: 20px 0 40px;
    padding: 10px 0 0;
    color: #555;
    font-size: .9em
}

#tweet-btn {
    position: absolute;
    top: 0;
    right: 0
}

#fork-me {
    position: absolute;
    top: 0;
    left: 0;
    display: block
}

#fork-me:hover {
    border: none
}
