@font-face {
    font-family: "ProductSans";
    src: url(../fonts/ProductSans-Regular.ttf);
}

body {
    font-family: 'Source Sans Pro', 'ProductSans', sans-serif;
    font-size: 1em;
    background-image: linear-gradient(to right, #6F7CEF, #F803FE);
    margin: 0;
}

/*  :pseudo

    selector
    property : value
*/
a:link,
a:visited {
    color: #000;
    text-decoration: none;
}

form {
    width: 35%;
    padding: 2em;
    margin: 2em auto;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 9px;
    text-align: center;
    position: relative;
}

form h1 {
    margin: 0.5em auto 1em;
}

form label {
    display: block;
    text-align: left;
    color: #333;
    font-size: 12px;
}

form input {
    display: block;
    width: 100%;
    padding: 0 10px 0 35px;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-bottom: solid 1px #CCC;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: 1em;
    outline: 0;
}

form input:focus {
    border-color: #5e5e5e;
}

form input::placeholder {
    color: #AAA;
}

form input+p {
    text-align: right;
}

form .check input {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 5px;
    margin-left: 0px;
    position: relative;
    top: 2.5px;
}

form button {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
    text-transform: uppercase;
    border: 0;
    background-image: linear-gradient(to right, #0DD1E1, #7A71EE, #F20AFE);
    color: #FFF;
    font-family: 'Source Sans Pro', 'ProductSans', sans-serif;
    margin: 20px 0 40px;
    box-shadow: 0 1px 8px #CCC;
    outline: 0;
    cursor: pointer;
}

form button:hover {
    background-image: linear-gradient(to right, #13bdcc, #6e66df, #d80fe2);
}

form button:active {
    box-shadow: 0 1px 10px #BBB;
}

form p {
    color: #555;
}

.icon-input {
    position: absolute;
    left: 2.70em;
    margin-top: 0.84em;
    color: #AAA;
}

.fb:link,
.twi:link,
.pin:link {
    color: #FFF;
    height: 40px;
    width: 40px;
    line-height: 44px;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin: 0 3px;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.fb:link {
    background-color: #3c5a98;
}

.fb:hover {
    background-color: #2f497e;
}

.twi:link {
    background-color: #24A3F0;
}

.twi:hover {
    background-color: #2090d6;
}

.pin:link {
    background-color: #EA4235;
}

.pin:hover {
    background-color: #be372d;
}
