body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0;
    background: #FFF;
    user-select: none;
}

img {
    max-width: 100%;
    margin: 0;
}

header {
    width: 100%;
    padding: 30px 0 0 0;
}

header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, #2b2b2b50, #101b7c40), url('../img/banner.jpg');
    background-size: cover;
    background-position: top center;
    z-index: -1;
}

header .atas {
    position: relative;
    margin: 0 auto 20px;
    background: #75ad3dcc;
    width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

header .atas > div {
    width: 33.33%;
    border-left: solid 1px #CCC;
    padding-left: 20px;
    color: #FFF;
}

header .atas > div:first-child {
    border-left: 0;
    padding: 0;
}

header .atas i {
    float: left;
    height: 50px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 2.20em;
}

header .data-diri {
    background: linear-gradient(#EEE, #FFF 90%);
    width: 500px;
    height: auto;
    margin: 90px auto 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.data-diri img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: -80px auto 0;
    display: block;
    border-radius: 50%;
    border: solid 4px #CCCCCC80;
}

.data-diri h1 {
    text-transform: uppercase;
    margin: 15px 0;
}

.data-diri h3 {
    text-transform: uppercase;
    margin: 0 0 30px;
    color: #81ca38;
    letter-spacing: 2px;
}

.data-diri span {
    font-weight: 800;
    letter-spacing: 1px;
    margin-right: 5px;
}

.data-diri span::after {
    content: ":";
    margin-left: 5px;
}

.sosial {
    margin-top: 30px;
}

.sosial a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #FFF;
    background: #81ca38;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    margin: 0 2px;
    border-radius: 50%;
    transition: all .2s linear;
}

.sosial a:nth-child(1) {
    background: #E32E7F;
}

.sosial a:hover:nth-child(1) {
    background: #be286c;
}

.sosial a:nth-child(2) {
    background: #4267B2;
}

.sosial a:hover:nth-child(2) {
    background: #3a5b9c;
}

.sosial a:nth-child(3) {
    background: #1DA1F2;
}

.sosial a:hover:nth-child(3) {
    background: #1992dd;
}

.sosial a:nth-child(4) {
    background: #0073B2;
}

.sosial a:hover:nth-child(4) {
    background: #0068a0;
}

.sosial a:nth-child(5) {
    background: #E81535;
}

.sosial a:hover:nth-child(5) {
    background: #d11431;
}

/* Menu CSS */
.wrap-menu {
    margin: 20px auto 30px;
    width: 1000px;
    position: relative;
}

.menu-title h3 {
    margin: 0 0 10px;
    font-size: 1.50em;
}

.menu-title h3:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    background: #81ca38;
    border-radius: 4px;
    top: -10px;
}

.menu-title p {
    margin: 0;
    font-size: 0.80em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666;
}

.menu-list {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-list li {
    list-style: none;
    margin: 0 8px;
}

.menu-list li a {
    text-decoration: none;
    color: #222;
    font-size: 1.10em;
    font-weight: 500;
    text-transform: capitalize;
}

.menu-list li.active a {
    color: #67bd12;
    font-weight: 800;
}

/* Style for content */
.content {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
}

.content ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.content ul li {
    list-style: none;
    width: 33%;
    height: 18em;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
}

.content ul li:nth-child(2),
.content ul li:nth-child(5) {
    margin: 0 5px;
}

.content ul li img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.caption {
    height: 100%;
    width: 100%;
    background: #80ff00a2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s linear;
    text-align: center;
}

.content ul li:hover > .caption {
    opacity: 1;
}

.caption h2 {
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 4em;
}

.caption .button-group {
    width: 78px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.caption .button-group a {
    background: #FFF;
    color: #000;
    height: 40px;
    width: 40px;
    line-height: 40px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 -2px;
    transition: all .2s linear;
}

.caption .button-group a:last-child {
    background: #eee;
}

.caption .button-group a:hover {
    background: #DDD;
}
