body {
    margin: 0;
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
    font-size: 1em;
}

img {
    width: 100%;
}

header {
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 20px;
}

header .background {
    background-image: url('https://icdn7.digitaltrends.com/image/macbook-pro-2016-keyboard-1500x1000.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(40%)
}

header .popup {
    width: 800px;
    min-height: 100px;
    margin: 0 auto;
    background: #FFAD01;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

header .popup>div {
    width: 33.33%;
    color: #FFF;
}

header .popup div>i {
    display: inline-block;
    font-size: 26px;
    position: relative;
    margin-left: 10px;
}

header .popup .wrap-text {
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
}

header .popup .wrap-text h4 {
    font-weight: normal;
    margin: 0;
    font-size: 14px;
}

header .popup .wrap-text h5 {
    font-weight: normal;
    margin: 5px 0 0 0;
    font-size: 12px;
}

header .bio {
    width: 30em;
    background: #FFF;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    margin: 80px auto 0;

}

header .bio img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 4px #DDD;
    margin-top: -60px;
}

header .bio h3 {
    margin: 10px 0 10px;
    font-size: 26px;
    text-transform: uppercase;
}

header .bio h5 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: normal;
    color: #FFAD01
}

header .bio p {
    margin: 10px 0;
}

.social-media {
    margin-top: 30px;
}

.social-media a,
.social-media a:link,
.social-media a:visited {
    width: 35px;
    height: 35px;
    background: #9A9A9A;
    color: #FFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 37px;
    border-radius: 50%;
    margin: 0 3px;
    transition: all .2s linear;
}

.social-media a:hover {
    background: #ffad01;
}

.social-media a:hover:nth-child(1) {
    background: #BD0094;
}

.social-media a:hover:nth-child(2) {
    background: #E00019;
}

.social-media a:hover:nth-child(3) {
    background: #0271AE;
}

.social-media a:hover:nth-child(4) {
    background: #4064AD;
}

.social-media a:hover:nth-child(5) {
    background: #5AA4D7;
}

/* Style for gallery */
.wrap-gallery {
    margin-top: 50px;
}

.wrap-gallery .header {
    margin: 0 auto;
    width: 800px;
}

.wrap-gallery .header h2 {
    margin: 0 0 5px;
    position: relative;
}

.wrap-gallery .header h2::before {
    content: " ";
    position: absolute;
    top: -15px;
    width: 40px;
    height: 6px;
    background: #FFAD01;
    border-radius: 15px;
}

.wrap-gallery .header .menu {
    text-align: center;
    position: relative;
}

.wrap-gallery .header .menu span {
    color: #888;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.wrap-gallery .header .menu a,
.wrap-gallery .header .menu a:link,
.wrap-gallery .header .menu a:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
    margin: 0 5px;
    font-size: 14px;
    transition: all .2s linear;
}

.wrap-gallery .header .menu a:focus,
.wrap-gallery .header .menu a.active {
    color: #FFAD01
}

/* Style for gallery */
.gallery {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin: 30px 0 50px;
}

.gallery .row {
    display: flex;
    margin-bottom: 10px;
}

.gallery .grid {
    width: 100%;
    height: 260px;
    position: relative;
}

.gallery .grid:nth-child(2) {
    margin: 0 0.5%;
}

.gallery .grid img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: top center;
    overflow: hidden;
}

.gallery .grid:hover>.caption {
    opacity: 1;
}

.grid .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffad01bb;
    opacity: 0;
    transition: opacity 0.3s linear;
    text-align: center;
}

.caption p {
    color: #fff;
    font-size: 26px;
    margin: 80px 0 20px;
}

.caption div a,
.caption div a:link,
.caption div a:visited {
    display: inline-block;
    background: #FFFFFF90;
    color: #000;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 42px;
    margin: 0;
    font-size: 20px;
}

.caption div a:first-child {
    border-radius: 8px 0 0 8px;
    background: #FFFFFF90;
}

.caption div a:last-child {
    border-radius: 0 8px 8px 0;
    background: #EEEEEE90;
}
