body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

header {
    top: 0;
    position: relative;
    width: 100%;
    height: 37em;
    padding-top: 0.5em;
    box-sizing: border-box;
}

header:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 37em;
    top: 0;
    z-index: -1;
    background: #4D7F8A url('https://images.assetsdelivery.com/compings_v2/pandavector/pandavector1502/pandavector150201101.jpg');
    background-size: inherit;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: inherit;
}

.banner-text h1 {
    color: #EEE;
    font-size: 2em;
    font-weight: normal;
    margin-top: 3em;
}

.banner-text p {
    color: #DDD;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.9em;
    line-height: 1.6;
}

.banner-text .btn {
    padding: 0 2em;
    letter-spacing: 2px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    border-radius: 0;
    margin-top: 20px;
}

.feature {
    margin-top: -60px;
}

.feature .card {
    padding: 1em;
    /* text-align: center */
}

.feature .card i {
    color: #CCC;
}

.feature .card h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0;
}

.feature .card p {
    line-height: 1.5;
    color: #666;
}

.feature .card .btn {
    width: 30%;
    margin: 10px 0;
}

.feature .gallery {
    text-align: center;
    margin-top: 60px
}

.feature .gallery h1 {
    text-align: center;
    width: 100%;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.feature .gallery .wrap-img {
    width: 100%;
    height: 250px;
    border: solid 1px #EEE;
    box-shadow: 0 2px 5px #DDD;
    overflow: hidden;
}

.feature .gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all 0.2s linear;
}

.feature .gallery img:hover {
    transform: scale(1.1)
}

.feature .gallery h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px 0 10px;
}

.feature .gallery p {
    color: #666;
}

.feature .gallery button {
    border: 0;
    padding: 0 30px;
    height: 32px;
    line-height: 32px;
    border-radius: 25px;
    letter-spacing: 1px;
}

.parallax-window {
    height: 300px;
    margin: 50px 0;
}

footer {
    background: #4D7F8A;
    color: #DDD;
    font-weight: normal;
    padding: 50px 0 40px;
    font-size: 14px;
}

footer .logo {
    background-image: url('http://www.freelogovectors.net/wp-content/uploads/2018/07/deliveroo-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 85px;
    margin-bottom: 20px;
    filter: brightness(120%)
}

footer h3 {
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    color: #FFF;
    margin-bottom: 20px;
    text-transform: capitalize;
}

footer ul,
footer ul li {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer ul li>i {
    margin-right: 5px;
}

footer .follow-us i {
    font-size: 20px;
    background: #FFF;
    width: 35px;
    height: 35px;
    color: #4D7F8A;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
    margin-right: 3px;
    cursor: pointer;
    transition: all .2s linear;
    position: relative;
}

footer .follow-us i:hover {
    box-shadow: 0 1px 5px #FFF;
    top: -2px;
}

.last-footer {
    background: #395b63;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #FFF;
}

.last-footer b {
    letter-spacing: 2px;
}

.last-footer .nav-link {
    display: inline-block;
    padding: 0;
    color: #FFF;
    margin-left: 15px;
}
